@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

:root {
    --primaryColor: hsl(14, 90%, 53%);
    --primaryColorLight: hsl(14, 96%, 91%);
    --bgColor: hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%); // Corrected typo here
    --greyText: hsl(0, 0%, 51%);
    --inputColor: hsl(330, 12%, 97%);
    --cardColor: hsl(300, 3%, 94%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}

.accordionContainer {
    .title {
        font-size: var(--normalFontSize);
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        justify-content: space-between;
        background: var(--primaryColorLight);
        cursor: pointer;

        span {
            .icon {
                font-size: 1.2rem;
                color: var(--blackColor);
            }
        }
    }

    .description {
        font-size: var(--smallFontSize);
        line-height: 20px;
        white-space: pre-line;
        height: 0; // Start hidden
        overflow: hidden; // Hide content that overflows initial height
        transition: all 0.3s ease-in-out;
        opacity: 0; // Start hidden
        padding: 0 1rem;
        background: var(--cardColor);
        border-radius: 0 0 10px 10px;
        color: var(--blackColor);
    }

    .show {
        height: auto; // Let content determine the height
        opacity: 1;
        padding: 1rem; // Add padding when shown
    }
        .activeTitle{
                background: var(--primaryColor);
                border-radius: 10px 10px 0 0;
        }
}

.questions{
    .secHeading{
        h3,h4{
            padding-bottom: 1.5rem;
        }
        p{
            font-size: var(--sma11FontSize);
        color: var(--blackColor);
        padding-bottom: 1rem;
        }
    }

    .form{
        .formContent{
        gap: 1rem;
        input, textarea{
            background: var(--cardColor);
            width: 100%;
            padding: 1rem;
            border: none;
            outline: none;
            border-radius: var(--borderRadius);
            &::placeholder{
                font-size: var(--smallFontSize);
                color: var(--blackColor);
            }
        }
        textarea{
            height: 100px;
            border-radius:10px;
        }
    }

}
}

//Media queries
@media screen and (min-width:640px) {
    .accordionContainer{
        .title{
            font-size: var(--h3FontSize);
    
            span{
                .icon{
                    font-size: 1.5rem;
                }
            }
        }

        .description{
            font-size: var(--norma1FontSize);
        }

        .show{
            height: 150px;
        }
    }
    .questions{
        .secHeading{
            h3, h4{
                font-size: var(--h2FontSize);
            }
            p{
                font-size: var(--normalFontSize);
            }
        }

        .secContainer{
            grid-template-columns: repeat (2, 1fr);
            align-items: flex-start;
            gap: 2rem;
            .form{
                .formContent{
                    input, textarea{
                        font: var(--normalFontSize);
                        &::placeholder{
                            font-size: var(--normalFontSize);
                            color: var(--blackColor);
                        }
                    }

                    textarea{
                        height: 100px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .accordionContainer{
        .title{
            font-size: var(--h3FontSize);

            h3{
                .icon{
                    font-size: 1.5rem;
                }
            }
        }

        .description{
            font-size: var(--norma1FontSize);
        }
        .show{
            height: 150px;
        }
    }

    .questions{
        .secHeading{
            h3,h4{
                font-size:1.5rem;
            }

            p{
                font-size:var(--h3FontSize);
            }
        }

        .secContainer{
            gap: 3rem;
        }
    }
}